PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1227Martin+
DB_NAME=reserva_deportiva

JWT_SECRET=un_secreto_largo
JWT_EXPIRES_IN=7d
JWT_2FA_SECRET=otro_secreto_largo
JWT_2FA_EXPIRES_IN=5m
TWO_FACTOR_APP_NAME=SportsFacility

MAIL_USER=martintabordaaristizabal@gmail.com
MAIL_PASS=yfqm cvqh nanh jgug

TELEGRAM_BOT_TOKEN=8762969023:AAFpmi5MMVoqHanZbeIAdT8UwXk5Wir-UMw
TELEGRAM_CHAT_ID=8590776938